<%- include ('../partials/head') %>
<%- include ('../partials/header') %>

<main class="container">
    <h1 style="text-align:center;"><%=user.first_name %> <%=user.last_name %></h1>

    <div class="container">
      <p><b>Username: </b><%=user.username %></p>
      <p><b>Email: </b><%=user.email %></p>
      <p><b>Major: </b><%=user.major %></p>
      <p><b>Gender: </b><%=user.gender %></p>
      <p><b>Preferred Size: </b><%=user.size_preference %></p>
    </div>

    <div class="container" style="padding-top: 5%;">
      <p style="font-size: 2;"><b>To edit account information:</b>
        <a class="nav-link" href = "../profile_changes" style="color: blue"><u>Click Here</u></a>
      </p>
    </div>
</main>

<%- include ('../partials/footer') %>
